body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #230c33;
    background-image: url("https://cat-boop.com/info/back.png");
    background-attachment: fixed;
}

.closed {
    display: none;
}

tr > td:first-child {
    width:175px;
    padding: 0px;
}

table#result>tbody>tr > td:nth-child(2) {
    width: 25px;
    padding: 0px;
}

table#result>tbody>tr {
    outline: 1px solid #230c3320;
    td {
        padding: .5em;
        font-size: 1.125em;
        font-weight: 600;
        border-right: #230c33;
        width: 70px;
        
    }

}
th {
    font-size: 1.33em;
    font-weight: 600;
}

#stickyMap {
    position: sticky;
    top: 0.5em;
    img {
        border: .5em solid #230c33;
        border-radius: 1em;
        width: 94%;
    }
    .dark {
        filter: invert(1) hue-rotate(180deg);
        border: .5em solid #fae1ff;
    }
    
}

.background {
    background-color: #af6cd670;
    background-image: linear-gradient(135deg,#af6cd650, #8d91de50);
    background-position:-1em -1em;
    background-size: calc(100% + 2em) calc(100% + 2em);
    border-radius: 2em;
    border: 1em double #230c33;
    p {
        margin-left: 1em;
    }
}

h1 {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.grid {
    display: flex;
    flex: 0 0 50%;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex: 1 0 auto;    
}

.grid-item {
    flex: 1 1 0px;
    padding: 0 0.5em;
    margin: .5em;
}

a {
    color: #230c33;
}

a:hover {
    color: #af6cd6;
}

.roomData:hover {
    background: #804e9d;
}

.roomData:active {
    background: #4c2f5d;
}

.roomData.showing {
    background: #603b76;
}

button {
    background-color: #af6cd6;
    border-color: #230c33;
    color: #230c33;
    font-size: 1em;
    border-radius: 1em;
    margin: 0.2em;
}

button:active, button:hover{
    background-color: #804e9d;
    cursor:pointer;
}

button:active {
    background-color: #4c2f5d;
}